{% if menu %}
	<div class="dn flex-ns w-100 justify-center items-center ttu bt bb pv3 b--black-10">
	{% for item in menu %}
		<a class="link mh2 mh3-l dn dib-ns f7 black" href="{{item.get_link}}" title="{{item.title}}">{{item.title}}</a>
	{% endfor %}
	</div>
{% endif %}
