{% extends "base-page.twig" %}

{% block content %}
		<article class="about">
			<section class="article-content">
				<div class="article-body">
					{{post.content}}
				</div>
			</section>
			<div class="social">
				<a href="//facebook.com/theparticulars">
					<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
					  <path fill-opacity=".87" fill-rule="evenodd" d="M16.024 30H1.656C.74 30 0 29.258 0 28.344V1.656C0 .74.74 0 1.656 0h26.688C29.26 0 30 .74 30 1.656v26.688C30 29.26 29.26 30 28.344 30H20.7V18.382h3.9l.583-4.527H20.7v-2.89c0-1.312.364-2.205 2.243-2.205h2.398V4.71c-.41-.056-1.833-.18-3.49-.18-3.455 0-5.822 2.11-5.822 5.986v3.34h-3.91v4.526h3.91V30z"/>
					</svg>
				</a>

				<a href="//instagram.com/theparticulars">
					<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
					  <path fill-opacity=".87" fill-rule="evenodd" d="M26.25 27.188H3.75c-.517 0-.938-.42-.938-.938V12.187h3.75c-.488.704-.653 2.015-.653 2.848 0 5.02 4.09 9.105 9.122 9.105s9.126-4.085 9.126-9.105c0-.833-.118-2.125-.724-2.848h3.75V26.25c0 .517-.42.938-.937.938M15.034 9.278c3.186 0 5.77 2.58 5.77 5.756 0 3.18-2.584 5.756-5.77 5.756-3.186 0-5.77-2.576-5.77-5.755 0-3.178 2.584-5.756 5.77-5.756M22.5 3.75h2.813c.517 0 .937.42.937.938V7.5c0 .518-.42.938-.938.938H22.5c-.518 0-.938-.42-.938-.938V4.687c0-.517.42-.937.938-.937M26.434 0H3.566C1.596 0 0 1.593 0 3.558v22.884C0 28.407 1.597 30 3.566 30h22.868C28.404 30 30 28.407 30 26.442V3.558C30 1.593 28.403 0 26.434 0"/>
					</svg>
				</a>

				<a href="//twitter.com/theparticulars">
					<svg xmlns="http://www.w3.org/2000/svg" width="30" height="25" viewBox="0 0 30 25">
					  <path fill-opacity=".87" fill-rule="evenodd" d="M30 2.96c-1.102.502-2.29.84-3.534.993 1.27-.78 2.247-2.017 2.706-3.49-1.19.722-2.505 1.247-3.91 1.53C24.14.765 22.54 0 20.77 0c-3.397 0-6.153 2.826-6.153 6.31 0 .496.053.976.158 1.438-5.115-.263-9.65-2.773-12.687-6.596-.53.935-.832 2.02-.832 3.176 0 2.19 1.086 4.12 2.738 5.253-1.008-.03-1.958-.315-2.79-.784v.077c0 3.06 2.122 5.612 4.94 6.19-.516.148-1.06.222-1.622.222-.396 0-.784-.038-1.16-.112.785 2.506 3.056 4.332 5.75 4.38-2.105 1.694-4.76 2.704-7.643 2.704-.5 0-.99-.03-1.47-.087C2.722 23.953 5.96 25 9.433 25c11.322 0 17.512-9.615 17.512-17.956 0-.274-.006-.55-.016-.818 1.204-.89 2.25-2 3.07-3.266"/>
					</svg>
				</a>
			</div>
		</article>

{% endblock %}
