{% extends "placeholder.twig" %}

{% block content %}
	<div class="w-100 min-vh-100 pa3 flex flex-column justify-center items-center tc">
		<a class="flex justify-center" data-pjax href="{{site.url}}">
			<span class="icon icon--logo">{{site.name}}</span>
		</a>
		<div class="">
			<p class="tc f2 fw1 lh-title script measure-narrow mv4 pv3">Something lovely is coming</p>


			<div id="mc_embed_signup">
				<form action="https://trouvailleonline.us18.list-manage.com/subscribe/post?u=3b9dbbe051d9827b140cf9cee&amp;id=111b0a0fae" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
				    <div id="mc_embed_signup_scroll" class="flex justify-center items-center f4 fw1">

							<div class="mc-field-group flex items-center justify-center">
								<input type="email" value="" placeholder="Your email" name="EMAIL" class="ph3 pv3 required email db fl ba br0 b--black ma0" id="mce-EMAIL">
							</div>
							<div id="mce-responses" class="clear">
								<div class="response" id="mce-error-response" style="display:none"></div>
								<div class="response" id="mce-success-response" style="display:none"></div>
							</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
					    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_3b9dbbe051d9827b140cf9cee_111b0a0fae" tabindex="-1" value=""></div>
					    <div class="clear">
								<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button input bg-black white ba br0 b--black ph4 pv3">
							</div>
				    </div>
				</form>
			</div>


		</div>
	</div>
{% endblock %}
